CREATE TABLE users (id INTEGER PRIMARY KEY, username VARCHAR(50) UNIQUE, password VARCHAR(255), role VARCHAR(20) DEFAULT 'user', created_at DATETIME DEFAULT CURRENT_TIMESTAMP, updated_at DATETIME); INSERT INTO users (username, password, role) VALUES ('admin', 'admin123', 'admin'), ('user1', 'user123', 'user');
